<h2>Edit goal</h2>
<form class="" action="<%= goal_url(@goal) %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="PATCH">

  <label for="title">Title</label>
  <input type="text" name="goal[title]" value="<%= @goal.title %>" id="title">

  <br>
  <label for="body">Body</label>
  <input type="text" name="goal[body]" value="<%= @goal.body %>" id="body">
  <br>
  <input type="submit" value="submit">
</form>
