<h2>New goal</h2>
<form class="" action="<%= goals_url %>" method="post">
  <%= auth_token %>
  <label for="title">Title</label>
  <input type="text" name="goal[title]" value="" id="title">

  <br>
  <label for="body">Body</label>
  <input type="text" name="goal[body]" value="" id="body">
  <br>
  <input type="submit" value="submit">
</form>
