<h4><%= @goal.title %></h4>
<p>
  <%= @goal.body %>
</p>
<a href="<%= edit_goal_url(@goal) %>" id="edit">Edit goal</a>
<br>
<form action="<%= goal_url(@goal) %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="DELETE">

  <input type="submit" name="name" value="delete">
</form>
