<h2>Sign in</h2>

<form action="<%= session_url %>" method="post">
  <%= auth_token %>
  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username">
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <input type="submit" value="submit">
</form>
